<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-light">
    <div th:replace="fragments/header::header"></div>
<!--    <div th:replace="fragments/nav::nav"></div>-->
    <!--실제 page url에 따라 바뀔 부분이다-->
    <div layout:fragment="content" class="container"></div>
    <div th:replace="fragments/footer::footer"></div>
</body>
</html>