<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_template}">
<head>
	<meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>notice</title>
</head>
<body>
<div layout:fragment="content">
	<h2 th:text="#{notice.header.modify}">수정</h2>
	<form id="submitForm" action="register.html" th:action="@{/notice/modify}" th:object="${notice}" method="POST">
		<input type="hidden" name="noticeNo" th:field="*{noticeNo}" />
		<div class="mb-3">
			<label for="title" class="form-label" th:text="#{notice.title}">title</label>
			<input type="text" class="form-control" name="title" id="title" th:field="*{title}" aria-describedby="titleHelp">
			<div id="titleHelp" class="form-text error_message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">에러메시지</div>
		</div>
		<div class="mb-3">
			<label for="content" class="form-label" th:text="#{notice.content}">content</label>
			<textarea name="content" id="content" th:field="*{content}"></textarea>
			<div id="contentHelp" class="form-text error_message" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">에러메시지</div>
		</div>
		<button type="submit" id="btnModify" class="btn btn-primary" th:text="#{action.modify}">수정</button>
		<button type="button" id="btnList" class="btn btn-secondary" th:text="#{action.list}">목록</button>
	</form>

	<script>
		var formObj = document.getElementById('submitForm');
		var btnModify = document.getElementById('btnModify');
		var btnList = document.getElementById('btnList');
		btnRegister.onclick = function(){
			formObj.submit();
		}
		btnList.onclick = function(){
			self.location='list';
		}
	</script>
</div>
</body>
</html>