<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_template}">
<head>
	<meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>CodeDetail</title>
</head>
<body>
<div layout:fragment="content">
	<h2 th:text="#{codedetail.header.modify}">코드 수정</h2>
	<form id="codeDetail" action="modify.html" th:action="@{/codedetail/modify}" th:object="${codeDetail}" method="POST">
		<div class="mb-3">
			<label for="groupCode" class="form-label" th:text="#{codedetail.groupCode}">Email address</label>
			<select th:field="*{groupCode}" id="groupCode" class="form-select">
				<option th:each="groupCode:${groupCodeList}" th:value="${groupCode.value}" th:text="${groupCode.label}">코드명</option>
			</select>
			<div id="groupCodeHelp" class="form-text error_message" th:if="${#fields.hasErrors('groupCode')}" th:errors="*{groupCode}">에러메시지</div>
		</div>
		<div class="mb-3">
			<label for="codeValue" class="form-label" th:text="#{codedetail.codeValue}">Email address</label>
			<input type="text" class="form-control" name="codeValue" id="codeValue" th:field="*{codeValue}" aria-describedby="codeValueHelp">
			<div id="codeValueHelp" class="form-text error_message" th:if="${#fields.hasErrors('codeValue')}" th:errors="*{codeValue}">에러메시지</div>
		</div>
		<div class="mb-3">
			<label for="codeName" class="form-label" th:text="#{codedetail.codeName}">Email address</label>
			<input type="text" class="form-control" name="codeName" id="codeName" th:field="*{codeName}" aria-describedby="codeNameHelp">
			<div id="codeNameHelp" class="form-text error_message" th:if="${#fields.hasErrors('codeName')}" th:errors="*{codeName}">에러메시지</div>
		</div>
		<button type="submit" id="btnModify" class="btn btn-primary" th:text="#{action.modify}">수정</button>
		<button type="button" id="btnList" class="btn btn-secondary" th:text="#{action.list}">목록</button>
	</form>

	<script>
		var formObj = document.getElementById('codeDetail');
		var btnModify = document.getElementById('btnModify');
		var btnList = document.getElementById('btnList');
		btnModify.onclick = function(){
			formObj.submit();
		}
		btnList.onclick = function(){
			self.location='list';
		}
	</script>
</div>
</body>
</html>