<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<title>Header</title>
</head>
<body>
	<div align="right" th:fragment="header" class="navbar navbar-expand-md navbar-dark bd-navbar mb-5 bg-dark">
		<nav class="container-xxl flex-wrap flex-md-nowrap">
			<div class="collapse navbar-collapse">

				<ul th:replace="fragments/menu::menu"></ul>

				<ul sec:authorize="!isAuthenticated()" class="navbar-nav flex-row flex-wrap ms-md-auto">
					<li class="nav-item col-6 col-md-auto"><a class="nav-link p-2" href="/user/register" th:text="#{header.joinMember}">join</a></li>
					<li class="nav-item col-6 col-md-auto"><a class="nav-link p-2" href="/auth/login" th:text="#{header.login}">login</a></li>
					<li sec:authorize="isAuthenticated()" class="nav-item col-6 col-md-auto">
						<div>
							<span sec:authentication="principal.username" class="navbar-text">홍길동</span>님&nbsp;
							<a class="nav-link p-2" href="#" th:text="#{header.logout}">logout</a>
						</div>
					</li>
				</ul>

				<ul sec:authorize="isAuthenticated()" class="navbar-nav flex-row flex-wrap ms-md-auto">
					<li class="nav-item col-6 col-md-auto"><div class="nav-link p-2"><span sec:authentication="principal.username">홍길동</span>님 반갑습니다</div></li>
					<li class="nav-item col-6 col-md-auto"><a class="nav-link p-2" href="/auth/logout" th:text="#{header.logout}">logout</a></li>
				</ul>

			</div>
		</nav>
	</div>
</body>
</html>