<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_template}">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
</head>
<body>
    <div layout:fragment="content" align="center">
        <h1 th:text="#{common.homeWelcome}">welcome</h1>
        <p th:text="${serverTime}">server time</p>
    </div>
</body>
</html>